*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: auto;
}

#imageContainer {
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
}

.face-box {
  position: absolute;
  display: inline-block;
  min-width: 25px;
  min-height: 25px;
  border: 3px solid rgb(241, 21, 21);
}
